.flexContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 80px;
  width: 900px;
  justify-content: space-evenly;
}

.flexItem{
  flex : 0 0 auto;
  display: flex;
  flex-direction: column;
}

.submitContainer{
  margin-top: 10px;
  flex : 0 0 100%;
}

.submitContainer button{
  margin-right: 105px;
  float: right;
}
